<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
<meta content="ie=edge" http-equiv="x-ua-compatible" />

<title><%= current_page.data.title || "The Fizzy Filly" %></title>
<meta description=<%= current_page.data.description || "A mobile bar for hire" %> />

<meta url="https://suspicious-pasteur-ec2b3e.netlify.app" />
<meta image="/images/uploads/homepage-hero.jpg" />

<meta property="og:title" content="The Fizzy Filly" />
<meta property="og:description" content=<%= current_page.data.description || "A mobile bar for hire" %> />
<meta property="og:image" content="/images/uploads/homepage-hero.jpg" />
<meta property="og:url" content="https://suspicious-pasteur-ec2b3e.netlify.app" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content=title />
<meta name="twitter:description" content=description />
<meta name="twitter:image" content=(url + image_path(image)) />
